<footer id="footer-container">
    <div id="reserved">
            © 2021 YOURKART, ALL RIGHTS RESERVED.
    </div>
    <div id="scroll-up">
            <i class="fas fa-chevron-circle-up"></i>      
    </div>
    
</footer>