<section id="header-section">
    <div id="header1">
        <div id="app-name">
            <a href="/"><h2>YourKart</h2></a>
            
        </div>
        <div id="search-bar">
            <form style="display:flex;">
                <input type="text" placeholder="Search products...">
                <button type="submit" style="margin-left:-2.4%"><i class="fa fa-search"></i></button>
            </form>
    
    
        </div>
    </div>

    <div id="sign-links">
        <% if(locals.user){ %>
             
            <div id="cart-section">
                <a href="/users/cartpage/<%= locals.user.id %>"><button ><i class="fas fa-shopping-cart"></i>Cart </button></a>
            </div>
            <div id="user-profile-btn">
                <a href="/users/profile"><button><%= user.name %></button></a>
            </div>
            <div id="sign-out-btn">
                <a href="/users/sign-out"><button>Sign Out</button></a>
            </div>
            
        <% }else{ %>
            <div id="cart-section">
                <a href="/users/sign-in"><button style="width:90px;"><i class="fas fa-shopping-cart"></i>Cart</button></a>
            </div>
            <div id="sign-up-btn">
                <a href="/users/sign-up"> <button style="width:90px;">Sign up</button> </a>
            </div>
            <div id="sign-in-btn">
                <a href="/users/sign-in"><button style="width:80px;">Sign in</button></a>
            </div>

        <% } %>

    </div>
    

</section>