body{
    #cart-container{
        margin:0px 30px 50px;
        // border: 1px solid black;

        #cart-item{
            display:flex;
            justify-content:space-between;
            width:60vw;
            // border: 1px solid black;
            align-items: center;
            #description{
                width:20vw;
            }
            img{
                margin-top:2%;
                width:90px;
            }
            #remove-button{
                height:4vh;
                width:8vw;
            }
            


        }
    }
        a{
            input[type="submit"]{
                display: inline-block;
              
                // border-radius:3%;
                width: 20vw;
                padding: 0.3rem;
                font-size: 0.7rem;
                // outline: blueviolet;
                font-family: sans-serif;
                
                
            background-color: palevioletred;
            color:white;
            font-size:1rem;
            outline: none;
            cursor: pointer;
            border:none;
            }
        

    }




}