body{
    h1{

    }
    #checkout-page{
        div{
            display:flex;
            flex-direction: space-between;
            margin-top:0.5rem;
            label{
                width:10vw;
            }
            input{
                display: inline-block;
                // margin-top: 0.5rem;
                // border-radius:3%;
                width: 80vw;
                padding: 0.3rem;
                font-size: 0.7rem;
                // outline: blueviolet;
                font-family: sans-serif;
                outline-color:black;
            }
            
        }
        input[type="submit"]{
            display: inline-block;
              margin-top:1rem;
                // border-radius:3%;
                width: 20vw;
                padding: 0.3rem;
                font-size: 0.7rem;
                // outline: blueviolet;
                font-family: sans-serif;
                
                
            background-color: palevioletred;
            color:white;
            font-size:1rem;
            outline: none;
            cursor: pointer;
            border:none;
        }
        
    }
}