body{
    #home-page-container{
        margin-left:5rem;
        margin-right:5rem;
        #product-container{
            #product-box{
                margin: 0px 20px;
                height:15rem;
                width:10rem;
                border:1px solid black;
                //position: relative;
                // background-color:#0066c0;
                display:inline-block;
                margin-left:2rem;
                margin-bottom:4rem;
                img{
                    display:inline-block;
                    //position:absolute;
                    //margin-left:50%;
                    
                }
                button{
                    background-color:red;
                    height:2.2rem;
                    // background-color: palevioletred;
                    display: inline-block;
                    margin-top: 0.5rem;
                        // border-radius:3%;
                    width: 10rem;
                    padding: 0.8rem;
                    color:white;
                    font-size:1rem;
                    outline: none;
                    cursor: pointer;
                    border:none;
                    font-family:sans-serif;
                }
                span{
                    display:inline-block;
                    margin:auto;

                }
            }
        }
    }
  }