#add-prod{
    a{
        button{
            background-color:rgb(52,130,195);
            height:2.2rem;
            // background-color: palevioletred;
            display: inline-block;
            margin-top: 0.5rem;
                // border-radius:3%;
            width: 10rem;
            padding: 0.8rem;
            color:white;
            font-size:1rem;
            outline: none;
            cursor: pointer;
            border:none;
            font-family:sans-serif;
            padding-top:10px;
        }
    }
}