body #cart-container {
  margin: 0px 60px 50px; }
  body #cart-container #cart-item {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 90px;
    border-bottom: 1px solid black;
    align-items: center; }
    body #cart-container #cart-item #inc-dec {
      width: 170px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    body #cart-container #cart-item #description {
      width: 20vw; }
    body #cart-container #cart-item img {
      margin-top: 2%;
      width: 90px; }
    body #cart-container #cart-item #remove-button {
      height: 4vh;
      width: 8vw; }

body #pricing {
  margin: 0px 60px 50px;
  line-height: 14px; }

body a input[type="submit"] {
  display: inline-block;
  width: 20vw;
  padding: 0.3rem;
  font-size: 0.7rem;
  font-family: sans-serif;
  background-color: palevioletred;
  color: white;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  border: none; }

#checkout-button {
  background-color: #3482c3;
  height: 2.2rem;
  display: inline-block;
  margin-top: 0.5rem;
  width: 10rem;
  padding: 0.8rem;
  color: white;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  border: none;
  font-family: sans-serif;
  padding-top: 10px; }
