body {
  margin: 0;
  font-family: sans-serif; }
  body a {
    cursor: pointer; }
  body #header-section {
    display: flex;
    align-items: center;
    margin-top: 3px;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    /*background-color: rgb(12,14,40);*/
    background-color: #703640;
    margin-bottom: 50px;
    height: 60px; }
    body #header-section #header1 {
      display: flex;
      margin-left: 3%;
      align-items: center;
      justify-content: space-around;
      width: 40%; }
      body #header-section #header1 #app-name a {
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        background-color: palevioletred;
        font-size: 1.2rem;
        outline: none;
        cursor: pointer;
        border: none; }
      body #header-section #header1 #search-bar {
        margin-top: 2.5%; }
    body #header-section #sign-links {
      display: flex;
      margin-right: 1%;
      width: 24%;
      justify-content: space-around;
      margin-top: -1%; }
      body #header-section #sign-links button {
        margin-top: 0.5rem;
        width: 4rem;
        padding: 0.2rem;
        font-size: 0.7rem;
        font-family: sans-serif;
        outline-color: black;
        color: white;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
        border-radius: 3%; }
      body #header-section #sign-links div button {
        background-color: palevioletred;
        border: 2px solid palevioletred;
        margin-left: 10px;
        width: auto; }
