#add-prod a button {
  background-color: #3482c3;
  height: 2.2rem;
  display: inline-block;
  margin-top: 0.5rem;
  width: 10rem;
  padding: 0.8rem;
  color: white;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  border: none;
  font-family: sans-serif;
  padding-top: 10px; }
